
.Assinatura{
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

  .ball{
    position:absolute;
    z-index: -1;
    right: 0;
    top: 0;
  }
.left{
    width: 50%;
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text{
    width: 90%;
    display: flex;
    height: 43%;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.left p{
    width: 60%;
    color: #202020;
font-size: 19px;
font-style: normal;
font-weight: 410;
line-height: 26px; /* 162.5% */
opacity: 0.5;

}
.left text{
    width: 100%;
    display: flex;
}
.left h2{
    margin: 0;
    width: 60%;
    color: #202020;
    font-family: 'Elsie Swash Caps', cursive;
font-size: 86px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.left h3{
    color: #202020;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.5;
width: 60%;
margin: 0;
}
.input{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: end;
    
}
.inputContainer{
    width: 64%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.089) 0px 7px 29px 0px;
}
.emailImg{
    padding: 0 3% 0 3%;
}
input{
    width: 65%;
    height: 50%;
    border: 0;
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
input::placeholder{
    color: #202020;
    font-size: 16px;
    font-style: normal;
    font-weight: 410;
    line-height: 26px; /* 162.5% */
    opacity: 0.5;
}
button{
    width: 35%;
    height: 100%;
    border: 0;
    background-color: #FFCB47;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
button:hover{
    cursor: pointer;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
}
.right img{
    width: 50%;
    height:85%;
    min-width: 413px;
    aspect-ratio: 1,2;
}
@media (max-width:1300px) {
    .text{
        justify-content: center;
        align-items: center;
    }
    .input{
        justify-content: center;
        margin-top: 10%;
    }
    .ball{
        max-width: 600px;
    }
}
@media (max-width:1000px) {
   .left h2{
    font-size: 40px;
   }
   .left h3{
    font-size: 25px;
   }
   .left p{
    font-size: 18px;
    margin-bottom: 0;
   }
   .input{
   margin-top: 0;
}
.right img{
    width: 30%;
    min-width: none;
}
.ball{
    max-width: 500px;
}
}
@media (max-width:900px) {
    
    .left p{
     font-size: 15px;
     margin-bottom: 0;
    }
    .input{
    margin-top: 0;
 }
 .ball{
     max-width: 500px;
 }
 .input button{
    font-size: 15px;
 }
 }
 @media (max-width:600px) {
.input{
    height: 10%;

}
.left{
    width: 100%;
    height: 100%;
}
.left h2{
    width: 100%;
    text-align: center;
}
.left h3{
    width: 100%;
    text-align: center;
}
.left p{
    width: 90%;
    text-align: center;

}
.left .text{
    width: 100%;
    height: 70%;
}
.inputContainer{
    width: 90%;
}
 .Assinatura{
    flex-direction: column;
    height: 100vh;
 }
 .ball{
    bottom: 0;
    width: 300px;
    top: 50%;
    right: -200px;
    transform: rotate(90deg);
 }
 .right{
    /* display: none; */
    width: 100%;
    height: 45%;
    align-items: center;
    justify-content: end;
 }
 .right img{
    width: 50%;
    height: auto;
    min-width: 0;
 }
 }

 @media (max-height:700px) {
    .left h2{
     font-size: 40px;
    }
    .left h3{
     font-size: 25px;
    }
    .left p{
     font-size: 18px;
     margin-bottom: 0;
    }
    .input{
    margin-top: 8%;
 }
 .input button{
    font-size: 15px;
 }
 .ball{
     max-width: 500px;
 }
 }
 @media (max-height:700px) {
    
    .Assinatura{
        height: 120vh;
    }
   
     }
    
